In [1]:
import pandas as pd
import numpy as np

In [12]:
df=pd.read_csv("fake_job_postings.csv")

In [4]:
df.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
job_id                 17880 non-null int64
title                  17880 non-null object
location               17534 non-null object
department             6333 non-null object
salary_range           2868 non-null object
company_profile        14572 non-null object
description            17879 non-null object
requirements           15185 non-null object
benefits               10670 non-null object
telecommuting          17880 non-null int64
has_company_logo       17880 non-null int64
has_questions          17880 non-null int64
employment_type        14409 non-null object
required_experience    10830 non-null object
required_education     9775 non-null object
industry               12977 non-null object
function               11425 non-null object
fraudulent             17880 non-null int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [13]:
df.columns

Index(['job_id', 'title', 'location', 'department', 'salary_range',
       'company_profile', 'description', 'requirements', 'benefits',
       'telecommuting', 'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent'],
      dtype='object')

In [25]:
df.isnull().sum

<bound method DataFrame.sum of        job_id  title  location  department  salary_range  company_profile  \
0       False  False     False       False          True            False
1       False  False     False       False          True            False
2       False  False     False        True          True            False
3       False  False     False       False          True            False
4       False  False     False        True          True            False
...       ...    ...       ...         ...           ...              ...
17875   False  False     False       False          True            False
17876   False  False     False       False          True            False
17877   False  False     False        True          True            False
17878   False  False     False        True          True             True
17879   False  False     False       False          True            False

       description  requirements  benefits  telecommuting  has_company_logo  \
0            False         False      True          False             False
1            False         False     False          False             False
2            False         False      True          False             False
3            False         False     False          False             False
4            False         False     False          False             False
...            ...           ...       ...            ...               ...
17875        False         False     False          False             False
17876        False         False     False          False             False
17877        False         False      True          False             False
17878        False         False     False          False             False
17879        False         False      True          False             False

       has_questions  employment_type  required_experience  \
0              False            False                False
1              False            False                False
2              False             True                 True
3              False            False                False
4              False            False                False
...              ...              ...                  ...
17875          False            False                False
17876          False            False                False
17877          False            False                 True
17878          False            False                False
17879          False            False                False

       required_education  industry  function  fraudulent
0                    True      True     False       False
1                    True     False     False       False
2                    True      True      True       False
3                   False     False     False       False
4                   False     False     False       False
...                   ...       ...       ...         ...
17875                True     False     False       False
17876               False     False     False       False
17877                True      True      True       False
17878               False     False     False       False
17879                True     False     False       False

[17880 rows x 18 columns]>

In [26]:
df.describe()

,job_id,telecommuting,has_company_logo,has_questions,fraudulent
count,17880.000000,17880.000000,17880.000000,17880.000000,17880.000000
mean,8940.500000,0.042897,0.795302,0.491723,0.048434
std,5161.655742,0.202631,0.403492,0.499945,0.214688
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,4470.750000,0.000000,1.000000,0.000000,0.000000
50%,8940.500000,0.000000,1.000000,0.000000,0.000000
75%,13410.250000,0.000000,1.000000,1.000000,0.000000
max,17880.000000,1.000000,1.000000,1.000000,1.000000

In [31]:
X=df[["telecommuting","has_company_logo","has_questions"]]
y=df[["fraudulent"]]

In [30]:
from sklearn.model_selection import train_test_split

In [33]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.6)

# 1. Logistic Regression

In [34]:
from sklearn.linear_model import LogisticRegression
log=LogisticRegression()

In [36]:
log.fit(X_train,y_train)

C:\Users\Akshat.Dubey.000\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Akshat.Dubey.000\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [37]:
Y=log.predict(X_test)

In [39]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [41]:
matrix=confusion_matrix(y_test,Y)
print(matrix)

[[10202     0]
 [  526     0]]

In [49]:
score=accuracy_score(y_test,Y)*100
print(score)

95.09694258016405

# 2. SVM

In [56]:
from sklearn import svm

In [57]:
model=svm.SVC()

In [58]:
model.fit(X_train,y_train)

C:\Users\Akshat.Dubey.000\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Akshat.Dubey.000\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [59]:
Y=model.predict(X_test)

In [61]:
matrix=confusion_matrix(y_test,Y)
print(matrix)

[[10202     0]
 [  526     0]]

In [62]:
score=accuracy_score(y_test,Y)

In [63]:
print(score*100)

95.09694258016405

# 3. KNN

In [67]:
from sklearn.neighbors import KNeighborsClassifier

In [70]:
knn=KNeighborsClassifier(n_neighbors=5)

In [71]:
knn.fit(X_train,y_train)

C:\Users\Akshat.Dubey.000\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [72]:
Y=knn.predict(X_test)

In [73]:
matrix=confusion_matrix(y_test,Y)
print(matrix)

[[10202     0]
 [  526     0]]

In [74]:
score=accuracy_score(y_test,Y)
print(score*100)

95.09694258016405